
body{
    margin: 0;
    background-color: #f4f6f9;
   padding-top: 20px;
    text-align: center;
}


header{
    padding: 15px;
    background-color: white;
    margin-top: 20px;
}
h2{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter; 
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}


.form-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


#registerForm{
    background-color: white;
    width: 400px;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 110px;
}


input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
#logo{
    width: 100px;
    height: auto;
    border-radius: 20px
}
.header{
    display: flex;
    align-items: center;   
    justify-content: center; 
    gap: 15px;  
}
#companyLogo{
    display: inline-block;
    background-color: #1565c0; 
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}
.upload-group input[type="file"] {
    display: none !important;
}

.upload-btn {
    display: inline-block;
    background-color: #fbbf24;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.file-name {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.password-wrapper {
    position: relative;
    width: 300px; 
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; 
    height: 40px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
.btn-register{
    width: 100%;
    display: block;
    margin-top: 15px;
    padding: 15px 0;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #0b59d8;
}