

.topbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.left-section {
    display: flex;
    align-items: center; 
}


.logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 12px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#logotext {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #004AAD;
    line-height: 1.1;
}

#stilogo {
    margin: 0;
    font-size: 12px;
    color: #666;
}

#logo {
    width: 50px;  
    height: auto;
}


#loginbutton{
    padding: 8px 16px;
    background-color: #0b59d8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcome{
    display: inline-block;
    background-color: #0b59d8;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
.mess{
    color: #F9A825;
}   
.start{
    display: inline-block;
    background-color: #0b59d8;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.card-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -15px;
}

.card {
  background: #f7f7f7;
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.yellow {
  background: #fbbf24;
  color: white;
  border-radius: 50px;
}

.blue {
  background: #1e40af;
  color: white;
  border-radius: 50px;

}

h2 {
  color: #1e3a8a;
  margin-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: #4b5563;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding:  30px 15px;
    background-color: #0b59d8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 0;
}


.left-section {
    display: flex;
    align-items: center; 
}


.logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 12px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#logotext {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fbbf24;
    line-height: 1.1;
}

#stilogo {
    margin: 0;
    font-size: 12px;
    color: #fbbf24;
}

#logo {
    width: 50px;  
    height: auto;
    margin-left: 15px;
}